@font-face {
    font-family: 'font';
    src: url("../../sources/tipografias/MADE_TOMMY_Bold_PERSONAL_USE.otf");
}

@font-face {
    font-family: 'font1';
    src: url("../../sources/tipografias/MADE_TOMMY_PERSONAL_USE.otf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "font";
}

body{
    background-color: #b8d9ab;
    background-image: url("../images/donemilio/donemilio.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#imglogo{
    height: 8vh;
}

#navbar{
    background-color:#e42313;
    box-shadow: inset 0 0 20px 0px rgba(0, 0, 0, 0.5), 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 0 0 3vh 3vh;
    border-bottom: #000000 2px solid;
}

.colorinicio{
    background-color: #e42313;
    border: white 2px solid;
    box-shadow: #ffffff 0px 0px 5px 0px;
}

.colorubicacion{
    background-color: #0033a1;
    border: white 2px solid;
    box-shadow: #ffffff 0px 0px 5px 0px;
}

.colorcontacto{
    background-color: #b8d9ab;
    border: white 2px solid;
    box-shadow: #ffffff 0px 0px 5px 0px;
}

.colorvolver{
    background-color: #ffee00;
    border: white 2px solid;
    box-shadow: #ffffff 0px 0px 5px 0px;
}

.container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    font-weight: bold;
    -webkit-text-stroke: #000000 1px;
    font-size: 3vh;
    margin: 2vh;
    text-align: center;
   
}



/*INICIO*/

#INICIO{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    color: white;
}

#INICIO .poster{
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.37);
    border: 2px solid rgba(255, 255, 255, 0.18);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh;
    border-radius: 5vh;
}

#INICIO img{
    max-width: 70vw;
    max-height: 70vh;
    border-radius: 5px;
}

#INICIO h2{
    font-size: 10vh;
    font-weight: bold;
    text-align: center;
}

#INICIO p{
    text-align: center;
    margin: 2vh;
    font-size: 4vh;
}

/*UBICACION*/
#UBICACION{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#UBICACIONart{
    text-align: center;
    background: white;
    border: 2px solid rgba(0, 0, 0,1);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.37);
    border-radius: 4vh;
    margin: 5%;
    
}

#UBICACION h2{
    color: #ffffff;
    font-weight: bold;
    font-size: 8vh;
    background-color: #e42313;
    border-radius: 3.5vh 3.5vh 0 0;
    border-bottom: #000000 1px solid;
    -webkit-text-stroke: #000000 1px;
}

.mapas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    width: auto;
}
#map {
    height: 65vh;
    width: 100%;
    border-radius: 2vh;
    border: #b6b6b6 solid 2px;
}

.marker {
    background-image: url('https://openlayers.org/en/v4.6.5/examples/data/icon.png');
    background-size: cover;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

#direccion{
    width:90%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 5vh;
    box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.37); 
    border: 2px solid rgba(255, 255, 255, 0.18);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5vh;
}


/*CONTACTO*/
#CONTACTO{
    border-top: #000000 2px solid;
    width: 100%;
    min-height: 90vh;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/donemilio/identidad.png);
    background-size: auto 105%;
    background-repeat: no-repeat;
    background-position: center;
}


#tarjeta{
    background-color: #ffffff;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.37);
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 5vh;
    border-radius: 2vh;
    max-width: 90%;
}

#tarjeta h2{
    background-color: #e42313;
    color: white;
    text-align: center;
    font-weight: bold;
    width: 100%;
    border-radius: 1.5vh 1.5vh 0 0;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vh;
    border-bottom: #000000 1px solid;
    -webkit-text-stroke: #000000 1px;
}
#tarjeta div h3{
    color: rgb(255, 0, 0);
    text-align: center;
    font-weight: bold;
    -webkit-text-stroke: #000000 1px;
}

#tarjeta div{
    width: auto;
    height: auto;
    font-size: 3vh;
    text-align: center;
}

#tarjeta p{
    text-align: center;
    margin: 2vh;
    font-size: 3vh;
    font-weight: bold;
}

#tarjeta i{
    font-size: 15vh;
    margin-bottom: 3vh;
    text-align: center;
    width: 100%;
    -webkit-text-stroke: #000000 1px;
}

/*FOOTER*/

footer{
    height: 15vh;
    width: 100%;
    background-color: #0033a1;
    box-shadow: inset 0px 0px 20px 0px black, 0px 0px 20px 0px black;
    z-index: -1;

}

#footerart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 4vh;
    color: white;
    font-weight: bold;
    height: 100%;
    width: 100%;
}

#footerart a{
    color: white;
    text-decoration: none;
    margin: 0 10vh;
    text-align: center;
}

#copy{
    font-size: 2vh;
    color: white;
}


@media screen and (max-width: 768px) {
    body{
        background-attachment: fixed;
        background-position: center;
    }
    /*INICIO*/

    #INICIO .poster{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        backdrop-filter: blur(15px);
        box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.37);
        border: 2px solid rgba(255, 255, 255, 0.18);
    }

    #INICIO h2{
        font-size: 0;
    }

    #INICIO p{
        font-size: 3vh;
    }

    /*CONTACTO*/
    #tarjeta i{
        font-size: 5vh;
    } 

    #tarjeta h2{
        font-size: 6vh;
    }

    /*footer*/
    #footerart img, #logofooter{
        display: none;
    }

    #footerart div, #subir{
        width: 100%;
        text-align: center;
    }

    #UBICACIONart{
        margin: 1%;
        
    }

    #UBICACION h2{
        font-size: 5vh;
    }

    #direccion{
        margin: 2vh;
    }
}