/*GRUPO DON EMILIO*/
@font-face {
    font-family: 'font';
    src: url("../../sources/tipografias/MADE_TOMMY_Bold_PERSONAL_USE.otf");
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'font';
    user-select: none;
}

header{
    background-image: url("../../sources/images/fondoheader.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    width: 100%;
    background-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: inset 0px 0px 10px 0px black;
    padding-top: 2vh;
    color: white;
}

#marca{
    width: 10vh;
    height: 10vh;
    margin: 0 0.5vh;
    border: rgb(255, 255, 255) 1px solid;
    box-shadow: inset 0px 0px 3px 0px black;
}

.donemiliomarca{
    background-color: #0033a1;
    transition: all 0.5s ease;
}
.duyamismarca{
    background-color: #E32515;
    transition: all 0.5s ease;
}
.mharnesmarca{
    background-color: #1D71B8;
    transition: all 0.5s ease;
}

h1{
    font-size: 11vh;
    text-align: center;
    -webkit-text-stroke: black 2px;
    margin: 0 0vh 0 8vh;
}

h1 span{
    font-size: 7vh;
}

.GrupoDonEmilio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}

.donemilio, .mharnes, .duyamis {
    flex: 1;
    height: 100%;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: inset 0px 0px 10px 0px black;
    transition: all 0.5s ease;
}

#linea{
    height: 2vh; 
    width: 65%; 
    background-color: #ffffff; 
    margin-bottom: 2vh; 
    transition: all 0.5s ease;
    border: black 2px solid;
}

.donemilio:hover, .mharnes:hover, .duyamis:hover {
    flex: 3;
}

.donemilio:hover ~ .mharnes, .donemilio:hover ~ .duyamis{
    flex: 1;
}

.mharnes:hover ~ .donemilio, .mharnes:hover ~ .duyamis {
    flex: 1;
}

.duyamis:hover ~ .donemilio, .duyamis:hover ~ .mharnes {
    flex: 1;
}
/*DON EMILIO*/
.donemilio{
    background-color: #0033a1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.donemilio img{
    max-height: 50vh;
    max-width: 50vh;
}


/*DUY AMIS*/

.duyamis{
    background-color: #E32515;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.duyamis img{
    max-height: 50vh;
    max-width: 50vh;
}

/*MHARNES*/

.mharnes{
    background-color:#1D71B8 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mharnes img{
    max-height: 50vh;
    max-width: 50vh;
}


@media screen and (max-width: 912px) {

    h1{
        font-size: 8vh;
        margin: 0;
        -webkit-text-stroke: black 1px;
    }

    header{
        height: 20vh;
    }
    
    #marca{
        width: 5vh;
        height: 5vh;
        box-shadow: inset 0px 0px 2px 0px black;
        border: rgb(0, 0, 0) 1px solid;
    }

    h1{
        font-size: 5vh;
    }

    h1 span{
        font-size: 3vh;
    }

    #linea{
        height: 0.7vh; 
        width: 75%; 
        background-color: #ffffff; 
        margin-bottom: 1vh; 
        border: black 1px solid;
        margin-top:-3vh;
    }

    .GrupoDonEmilio {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 80vh
    }

    #empresa{
        flex: 1;
        width: 100%;
        height: 23.33vh;
    }

    .donemilio img, .duyamis img, .mharnes img{
        max-height: 23.33vh;
    }
    
}